.sliders
  .sliders__slider
    .sliders__slides
      .sliders__slide
        .w
          .sliders__content
            .sliders__subtitle С ЛЮБОВЬЮ К ДЕТЯМ 1
            .sliders__title ПОЛНОСТЬЮ ОБОРУДОВАННЫЕ КЛАССЫ
            .sliders__text
              p В классах есть всё необходимое для учебы, чтобы ребенку было удобно воспринимать знания и не отвлекаться на мелочи.
              p Мы даже предоставляем 2 комплекта учебников, чтобы ему не приходилось носить в школу неподъемные портфели, которые часто портят осанку.
          .sliders__image(style='background-image: url(https://picsum.photos/960/460/?random&1)')
      .sliders__slide
        .w
          .sliders__content
            .sliders__subtitle С ПОНИМАНИЕМ К РОДИТЕЛЯМ
            .sliders__title КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ
            .sliders__text
              p Вы можете выбирать для своего ребенка обучение по основным российским образовательным программам начального, основного и среднего образования или основные британские образовательные программы начальной, средней и старшей школы по системе GCSE и A-Level.
          .sliders__image(style='background-image: url(https://picsum.photos/960/460/?random&2)')
      .sliders__slide
        .w
          .sliders__content
            .sliders__subtitle С ЛЮБОВЬЮ К ДЕТЯМ 3
            .sliders__title ПОЛНОСТЬЮ ОБОРУДОВАННЫЕ КЛАССЫ
            .sliders__text
              p В классах есть всё необходимое для учебы, чтобы ребенку было удобно воспринимать знания и не отвлекаться на мелочи.
              p Мы даже предоставляем 2 комплекта учебников, чтобы ему не приходилось носить в школу неподъемные портфели, которые часто портят осанку.
          .sliders__image(style='background-image: url(https://picsum.photos/960/460/?random&3)')
    .w
      .sliders__prev
      .sliders__next
      .sliders__nav
        .sliders__dot
        .sliders__dot
        .sliders__dot
  .sliders__slider.sliders__slider--reverse
    .sliders__slides
      .sliders__slide
        .w
          .sliders__content
            .sliders__subtitle С ЛЮБОВЬЮ К ДЕТЯМ 1
            .sliders__title ПОЛНОСТЬЮ ОБОРУДОВАННЫЕ КЛАССЫ
            .sliders__text
              p В классах есть всё необходимое для учебы, чтобы ребенку было удобно воспринимать знания и не отвлекаться на мелочи.
              p Мы даже предоставляем 2 комплекта учебников, чтобы ему не приходилось носить в школу неподъемные портфели, которые часто портят осанку.
          .sliders__image(style='background-image: url(https://picsum.photos/960/460/?random&1)')
      .sliders__slide
        .w
          .sliders__content
            .sliders__subtitle С ПОНИМАНИЕМ К РОДИТЕЛЯМ
            .sliders__title КАЧЕСТВЕННОЕ ОБРАЗОВАНИЕ
            .sliders__text
              p Вы можете выбирать для своего ребенка обучение по основным российским образовательным программам начального, основного и среднего образования или основные британские образовательные программы начальной, средней и старшей школы по системе GCSE и A-Level.
          .sliders__image(style='background-image: url(https://picsum.photos/960/460/?random&2)')
      .sliders__slide
        .w
          .sliders__content
            .sliders__subtitle С ЛЮБОВЬЮ К ДЕТЯМ 3
            .sliders__title ПОЛНОСТЬЮ ОБОРУДОВАННЫЕ КЛАССЫ
            .sliders__text
              p В классах есть всё необходимое для учебы, чтобы ребенку было удобно воспринимать знания и не отвлекаться на мелочи.
              p Мы даже предоставляем 2 комплекта учебников, чтобы ему не приходилось носить в школу неподъемные портфели, которые часто портят осанку.
          .sliders__image(style='background-image: url(https://picsum.photos/960/460/?random&3)')
    .w
      .sliders__prev
      .sliders__next
      .sliders__nav
        .sliders__dot
        .sliders__dot
        .sliders__dot
