.testimonials
  padding: 96px 0 114px
  overflow: hidden
  @media (max-width: $breakpoint-sm)
    padding: 55px 0 75px
  &__title
    font-size: 54px
    line-height: 48px
    text-align: center
    font-weight: 800
    margin-bottom: 41px
    @media (max-width: $breakpoint-sm)
      text-align: left
      padding: 0 20px

      &:after
        content:''
        display: block
        position: absolute
        background: #dbb06c
        width: 50px
        height: 7px
        margin-top: 22px
        left: 20px
        margin-left: 0


  &__tabs-headers
    display: flex
    justify-content: center
    margin-bottom: 57px
    flex-wrap: wrap
    @media (max-width: $breakpoint-sm)
      margin-bottom: 46px

  &__tabs-header
    font-size: 16px
    line-height: 27px
    font-weight: 800
    color: #6c6c6c
    border-bottom: 3px solid transparent
    margin: 0 16px
    padding: 0 3px 8px
    cursor: pointer
    anim()

    &--active
      color: #2e2e2e
      border-color: #E2AF5F

  &__tabs
    position: relative

  &__tab
    top: 0
    left: 0
    width: 100%
    position: absolute
    opacity: 0
    z-index: -1
    anim()

    &--active
      position: static
      opacity: 1

  &__videos
    flex: 1
    @media (max-width: $breakpoint-sm)
      visibility: hidden

  &__socials
    flex: 1
    min-width: 0
    position: relative
    padding-right: 70px
    @media (max-width: $breakpoint-sm)
      padding-right: 0

  &__items
    display: flex

  &__item
    visibility: hidden
    flex: 1
    margin: 0 10px
    @media (max-width: $breakpoint-sm)
      visibility: visible
      display: none
      &:first-child
        display: block

  &__video
    position: relative
    width: 100%
    cursor: pointer
    display: block
    &:before
      content:''
      display: block
      padding-top: 56.25%
    &:after
      content: ''
      display: block
      position: absolute
      background: url(images/sprite-play.svg)
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      opacity: .7
      transition: all .1s ease-out

    &:hover
      &:after
        opacity: 1

    img, iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      max-width: 100%
      max-height: 100%

    iframe
      z-index: 1
      background: #000000

  &__name
    font-size: 18px
    line-height: 28px
    font-weight: 800
    margin-top: 27px
    padding-left: 25px
    @media (max-width: $breakpoint-md) and (min-width: $breakpoint-sm + 1)
      padding-left: 0

  &__note
    font-size: 17px
    line-height: 26px
    margin-top: 9px
    padding-left: 25px
    @media (max-width: $breakpoint-md) and (min-width: $breakpoint-sm + 1)
      padding-left: 0

  &__nav
    display: flex
    align-items: center
    justify-content: center
    margin: 35px 0 0
    @media (min-width: $breakpoint-sm + 1)
      display: none

  &__dot
    position: relative
    width: 26px
    height: 26px
    background: transparent
    margin: 0 8px
    anim()

    &:before, &:after
      content: ''
      display: block
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
      border-radius: 50%
      anim()

    &:before
      width: 10px
      height: 10px

    &:after
      width: 12px
      height: 12px
      background: #d7d7d7

    &.tns-nav-active
      &:before
        width: 26px
        height: 26px
        background: #dea751

      &:after
        width: 10px
        height: 10px
        background: #fff

  &__triangle
    margin-top: -160px
    left: 50%
    margin-left: -553px
    border-width: 0 0 104px 108px;
    border-color: transparent transparent #ce3934 transparent

  &__social
    padding-left: 109px
    position: relative
    @media (max-width: $breakpoint-sm)
      padding-left: 0

  &__avatar
    position: absolute
    left: 0
    top: 25px
    border-radius: 8px
    @media (max-width: $breakpoint-sm)
      position: static
      margin-bottom: 12px

  &__text
    position: relative
    border: 1px solid #D8D8D8
    border-radius: 8px
    padding: 25px 45px 35px 25px
    font-size: 16px
    line-height: 25px
    color: #505050

    &:before, &:after
      position: absolute
      content: ''
      display: block
      transform: rotate(45deg)
      border-radius: 4px
      width: 18px
      height: 18px
      left: -8px
      top: 59px
      @media (max-width: $breakpoint-sm)
        display: none

    &:before
      background: #d8d8d8
      z-index: -1

    &:after
      background: #fff
      z-index: 1
      margin-left: 1px

  &__prev, &__next
    position: absolute
    background: url(images/sprite-arrow.svg)
    opacity: .7
    anim()
    z-index: 2
    right: 0
    cursor: pointer
    outline: 0
    @media (max-width: $breakpoint-sm)
      display: none

    &:hover
      opacity: 1

  &__prev
    top: 40px
    transform: rotate(180deg)

  &__next
    top: 100px
