.testimonials
  .testimonials__title Впечатления родителей
  .testimonials__tabs-headers
    .testimonials__tabs-header.testimonials__tabs-header--active ВИДЕО ОТЗЫВЫ
    .testimonials__tabs-header ОТЗЫВЫ ИЗ СОЦ.СЕТЕЙ
  .testimonials__tabs
    .testimonials__tab
      .w
        .testimonials__slider
          .testimonials__items
            .testimonials__item
              a.testimonials__video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank')
                img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
              .testimonials__name АНДРЕЕВА АНТОНИНА
              .testimonials__note Родитель выпускника 2016 г.

            .testimonials__item
              a.testimonials__video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank')
                img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
              .testimonials__name АНДРЕЕВА АНТОНИНА
              .testimonials__note Родитель выпускника 2016 г.

            .testimonials__item
              a.testimonials__video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank')
                img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
              .testimonials__name АНДРЕЕВА АНТОНИНА
              .testimonials__note Родитель выпускника 2016 г.

          .testimonials__nav
            .testimonials__dot
            .testimonials__dot
            .testimonials__dot