.testimonials
  .triangle.testimonials__triangle(data-paroller-factor="-0.1")
  .testimonials__title Впечатления родителей
  .testimonials__tabs-headers
    .testimonials__tabs-header.testimonials__tabs-header--active ВИДЕО ОТЗЫВЫ
    .testimonials__tabs-header ОТЗЫВЫ ИЗ СОЦ.СЕТЕЙ
  .testimonials__tabs
    .testimonials__tab.testimonials__tab--active
      .w
        .testimonials__videos
          .testimonials__items
            .testimonials__item
              a.testimonials__video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank')
                img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
              .testimonials__name АНДРЕЕВА АНТОНИНА
              .testimonials__note Родитель выпускника 2016 г.

            .testimonials__item
              a.testimonials__video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank')
                img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
              .testimonials__name АНДРЕЕВА АНТОНИНА
              .testimonials__note Родитель выпускника 2016 г.

            .testimonials__item
              a.testimonials__video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank')
                img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
              .testimonials__name АНДРЕЕВА АНТОНИНА
              .testimonials__note Родитель выпускника 2016 г.

          .testimonials__nav
            .testimonials__dot
            .testimonials__dot
            .testimonials__dot
    .testimonials__tab
      .w
        .testimonials__socials
          .testimonials__items
            .testimonials__social
              img.testimonials__avatar(src='https://picsum.photos/90/90/?random&1')
              .testimonials__text LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. From your wrist watch to your laptop, a lot of the on the go electronics that we tote from place.
              .testimonials__name АНДРЕЕВА АНТОНИНА1
              .testimonials__note Родитель выпускника 2016 г.

            .testimonials__social
              img.testimonials__avatar(src='https://picsum.photos/90/90/?random&2')
              .testimonials__text LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. From your wrist watch to your laptop, a lot of the on the go electronics that we tote from place.
              .testimonials__name АНДРЕЕВА АНТОНИНА2
              .testimonials__note Родитель выпускника 2016 г.

            .testimonials__social
              img.testimonials__avatar(src='https://picsum.photos/90/90/?random&3')
              .testimonials__text LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. From your wrist watch to your laptop, a lot of the on the go electronics that we tote from place.
              .testimonials__name АНДРЕЕВА АНТОНИНА3
              .testimonials__note Родитель выпускника 2016 г.

          .testimonials__arrows
            .testimonials__prev
            .testimonials__next

          .testimonials__nav
            .testimonials__dot
            .testimonials__dot
            .testimonials__dot