.afterschool#afterschool
  .triangle.afterschool__triangle(data-paroller-factor="-0.1")
  .afterschool__title Занятия после уроков
  .afterschool__slider
    .w.afterschool__arrows
      .afterschool__prev
      .afterschool__next

    .afterschool__slides
      .afterschool__slide
        a(href='https://picsum.photos/1024x1024/?image=0&1' target='_blank' data-index=0 data-width=1024 data-height=1024 data-caption='Спортивный клуб')
          img.afterschool__image(src='https://picsum.photos/345/300/?image=0&1' width=345 height=300)
        .afterschool__text Спортивный клуб
      .afterschool__slide
        a(href='https://picsum.photos/1024x1024/?image=1&1' target='_blank' data-index=1 data-width=1024 data-height=1024)
          img.afterschool__image(src='https://picsum.photos/345/300/?image=1&2' width=345 height=300)
        .afterschool__text Английский клуб
      .afterschool__slide
        a(href='https://picsum.photos/1024x1024/?image=2&1' target='_blank' data-index=2 data-width=1024 data-height=1024)
          img.afterschool__image(src='https://picsum.photos/345/300/?image=2&3' width=345 height=300)
        .afterschool__text Арт-салон
      .afterschool__slide
        a(href='https://picsum.photos/1024x1024/?image=3&1' target='_blank' data-index=3 data-width=1024 data-height=1024)
          img.afterschool__image(src='https://picsum.photos/345/300/?image=3&4' width=345 height=300)
        .afterschool__text Центр дипломатии
      .afterschool__slide
        a(href='https://picsum.photos/1024x1024/?image=4&1' target='_blank' data-index=4 data-width=1024 data-height=1024)
          img.afterschool__image(src='https://picsum.photos/345/300/?image=4&5' width=345 height=300)
        .afterschool__text Шахматный клуб

    .afterschool__nav
      .afterschool__dot
      .afterschool__dot
      .afterschool__dot
      .afterschool__dot
      .afterschool__dot

  .afterschool__note Всё перечисленное входит в стоимость обучения. Вам не придется ни за что доплачивать!