.c.excursion
  .excursion__info
    .excursion__title Посетите#[br] экскурсию
    .excursion__subtitle по Кембриджскому#[br] лицею перед тем, как принять#[br] решение о поступлении
  .excursion__bullets
    .excursion__list
      .excursion__bullet Преподавание по британской#[br] и российской программам
      .excursion__bullet Уроки на английском языке,#[br] сдаются английские экзамены
    .excursion__list
      .excursion__bullet Большое количество#[br] развивающих занятий и игр
      .excursion__bullet Дружелюбная атмосфера и#[br] мотивирующее окружение
