.head
  .head__logo
  .c.head__container
    .head__note Кембриджский лицей в Москве#[br] для детей от 2 до 18 лет
    .head__title Обучение в кембриджском#[br] лицее — ваша #[span инвестиция]#[br] в будущее ребенка
    .head__subtitle Готовим к поступлению в лучшие#[br] вузы Британии, Европы и России
    .head__license Лицензия Министерства образования Российской#[br] Федерации №037184 от 29 февраля 2016 г.