.programs#programs
  .triangle.programs__triangle(data-paroller-factor="-0.1")
  .programs__title Программы кембриджского лицея
  .programs__subtitle Выбирайте наиболее подходящий вам и вашему#[br] ребенку вариант обучения
  .programs__slider
    .programs__slides
      .programs__slide: .programs__item
        .programs__image(style='background-color: #222764'): img(src='modules/programs/program1.png')
        .programs__header БРИТАНСКАЯ ПРОГРАММА
        .programs__text Для тех, кто собирается поступать в вузы за рубежом
        .programs__link(data-program='1') УЗНАТЬ БОЛЬШЕ
      .programs__slide: .programs__item
        .programs__image(style='background-color: #dc3b3d'): img(src='modules/programs/program2.png')
        .programs__header РОССИЙСКАЯ ПРОГРАММА
        .programs__text Для тех, кто собирается поступать в вузы за рубежом
        .programs__link(data-program='2') УЗНАТЬ БОЛЬШЕ
      .programs__slide: .programs__item
        .programs__image(style='background-color: #75a838'): img(src='modules/programs/program3.png')
        .programs__header БРИТАНСКАЯ ПРОГРАММА
        .programs__text Для тех, кто собирается поступать в вузы за рубежом, Для тех, кто собирается поступать в вузы за рубежом
        .programs__link УЗНАТЬ БОЛЬШЕ
      .programs__slide: .programs__item
        .programs__image(style='background-color: #eaa038'): img(src='modules/programs/program4.png')
        .programs__header БРИТАНСКАЯ ПРОГРАММА
        .programs__text Для тех, кто собирается поступать в вузы за рубежом
        .programs__link УЗНАТЬ БОЛЬШЕ
      .programs__slide: .programs__item
        .programs__image(style='background-color: #ef6e2d'): img(src='modules/programs/program5.png')
        .programs__header БРИТАНСКАЯ ПРОГРАММА
        .programs__text Для тех, кто собирается поступать в вузы за рубежом
        .programs__link УЗНАТЬ БОЛЬШЕ
    .programs__nav
      .programs__dot
      .programs__dot
      .programs__dot
      .programs__dot
      .programs__dot
