.info
  .info__text
    p Несмотря на кажущуюся сложность обучения по смешанной программе, детям у нас учиться  интересно, и практически 100% из них добиваются успеха после школы.
  button.info__button УЗНАТЬ СТОИМОСТЬ БРИТАНСКОЙ ПРОГРАММЫ