.info
  padding-bottom 76px;
  text-align: center
  @media (max-width: $breakpoint-sm)
    padding: 0 20px 76px

  &__text
    font-size: 19px
    line-height: 25px
    color: #484848
    //max-width: 760px
    margin: 0 auto

  &__button
    display: inline-flex
    border: 1px solid #E2AF5F
    font-size: 16px
    line-height: 27px
    font-weight: 800
    margin: 0 auto
    padding: 19px 44px
    border-radius: 1px

  &__text + &__button
    margin-top: 68px
