.menu
  button.menu__button
  .menu__wrapper
    .c.menu__content
      img.menu__logo(src='modules/menu/menu-logo.png')
      .menu__items
        .menu__pointer
        ul
          li: a(href='#about') О ЛИЦЕЕ
          li: a(href='#progress') ОТ 2 ДО 18
          li: a(href='#programs') ПРОГРАММЫ
          li: a(href='#afterschool') ПОСЛЕ УРОКОВ
          li: a(href='#') ПРЕИМУЩЕСТВА
          li: a(href='#prices') СТОИМОСТЬ
          li: a(href='#contacts') КАК ПОПАСТЬ
      .menu__buttons
        .menu__phone: a(href='tel:123') 8 (499) 110-72-99
        a.menu__excursion(href='#') ЗАПИСАТЬСЯ НА ЭКСКУРСИЮ