.steps
  .steps__title Ступени обучения
  .steps__slider
    .steps__slides
      .steps__slide
        .steps__image(style='background-image: url(https://picsum.photos/280/150/?random&1)')
        .steps__header ОСНОВНОЕ ОБЩЕЕ 1
        .steps__text
          p Ребенок учится в 5-9 классах школы и готовится к сдаче ГИА. Проводятся элективные предпрофильные курсы с 7 класса. Уделяется внимание разностороннему развитию.
      .steps__slide
        .steps__image(style='background-image: url(https://picsum.photos/280/150/?random&2)')
        .steps__header ОСНОВНОЕ ОБЩЕЕ 2
        .steps__text
          p Ребенок учится в 5-9 классах школы и готовится к сдаче ГИА. Проводятся элективные предпрофильные курсы с 7 класса. Уделяется внимание разностороннему развитию.
      .steps__slide
        .steps__image(style='background-image: url(https://picsum.photos/280/150/?random&3)')
        .steps__header ОСНОВНОЕ ОБЩЕЕ 3
        .steps__text
          p Ребенок учится в 5-9 классах школы и готовится к сдаче ГИА. Проводятся элективные предпрофильные курсы с 7 класса. Уделяется внимание разностороннему развитию.
      .steps__slide
        .steps__image(style='background-image: url(https://picsum.photos/280/150/?random&4)')
        .steps__header ОСНОВНОЕ ОБЩЕЕ 4
        .steps__text
          p Ребенок учится в 5-9 классах школы и готовится к сдаче ГИА. Проводятся элективные предпрофильные курсы с 7 класса. Уделяется внимание разностороннему развитию.
      .steps__slide
        .steps__image(style='background-image: url(https://picsum.photos/280/150/?random&4)')
        .steps__header ОСНОВНОЕ ОБЩЕЕ 5
        .steps__text
          p Ребенок учится в 5-9 классах школы и готовится к сдаче ГИА. Проводятся элективные предпрофильные курсы с 7 класса. Уделяется внимание разностороннему развитию.

    .steps__arrows
      .steps__prev
      .steps__next

  .steps__timeline-wrapper
    .steps__timeline
      .steps__items
        .steps__item С 2 ДО 7
        .steps__item С 7 ДО 10
        .steps__item С 10 ДО 15
        .steps__item С 15 ДО 17
        .steps__item ИТОГ
      .steps__pointer
