.bullets
  .bullets__title Что даст вашему ребенку обучение#[br] по британской программе
  .c.bullets__slider
    .bullets__items
      .bullets__item
        .bullets__header Поступление в школы
        .bullets__text Ребенок учится в среде, которая подготовит его к поступлению в любую школу Англии.
      .bullets__item
        .bullets__header Поступление в колледжи
        .bullets__text С сертифкатом Кембриджского лицея ребенок может поступить в любой колледж
      .bullets__item
        .bullets__header Поступление в школы в других странах
        .bullets__text Ребенок сможет учиться в любой школе в мире, где есть преподавание на английском.
      .bullets__item
        .bullets__header Поступление в вузы в Англии
        .bullets__text Кембриджский сертификат A-levels признается престижными вузами Англии.
      .bullets__item
        .bullets__header Свободное общение и коммуникация
        .bullets__text Ребенок может свободно общаться на английском языком в повседневной жизни.
      .bullets__item
        .bullets__header Поступление в вузы других стран
        .bullets__text Ваш ребенок поступит в любой вуз мира благодаря сдаче GCSE + GCE A-levels.

    .bullets__nav
      .bullets__dot
      .bullets__dot
      .bullets__dot
      .bullets__dot
      .bullets__dot
      .bullets__dot
