.prices#prices
  .triangle.prices__triangle(data-paroller-factor="-0.1")
  .prices__top
    .prices__title Стоимость обучения
    .prices__subtitle В кембриджском лицее в москве
  .prices__slider
    .prices__slides
      .prices__slide
        .prices__header БРИТАНСКАЯ ПРОГРАММА
        .prices__row
          .prices__price 67 000 ₽
          .prices__period в месяц
        .prices__row
          .prices__price 400 000 ₽
          .prices__period в год
      .prices__slide
        .prices__header РОССИЙСКАЯ ПРОГРАММА
        .prices__row
          .prices__price 67 000 ₽
          .prices__period в месяц
        .prices__row
          .prices__price: b 400 000 ₽
          .prices__period в год
      .prices__slide
        .prices__header СМЕШАННАЯ ПРОГРАММА
        .prices__row
          .prices__price 67 000 ₽
          .prices__period в месяц
        .prices__row
          .prices__price 400 000 ₽
          .prices__period в год
      .prices__slide
        .prices__header ЗАОЧНОЕ ОТЕДЕЛЕНИЕ
        .prices__row
          .prices__price 67 000 ₽
          .prices__period в месяц
        .prices__row
          .prices__price 400 000 ₽
          .prices__period в год
      .prices__slide
        .prices__header ART&DESIGN SCHOOL
        .prices__row
          .prices__price 67 000 ₽
          .prices__period в месяц
        .prices__row
          .prices__price 400 000 ₽
          .prices__period в год
    .prices__nav
      .prices__dot
      .prices__dot
      .prices__dot
      .prices__dot
      .prices__dot
        
  .w.prices__info
    .prices__col
      .prices__bullet Оплата осуществляется один раз в год#[br] перед началом учебного года.
      .prices__bullet Возможна рассрочка на 2 платежа либо#[br] по четвертям.
    .prices__col
      .prices__bullet Помесячная оплата возможна лишь в некоторых#[br] случаях по заявлению родителей.
      .prices__bullet Для оплаты обучения по месяцам#[br] предоставляется кредит от банка-партнера.

  a.prices__button(href='#modal') ЧТО ВХОДИТ В ОПЛАТУ