.advantages#advantages
  .advantages__title 9 причин учиться у нас
  .c.advantages__content
    .advantages__banner
      .advantages__banner-number 9
      .advantages__banner-text ОСНОВНЫХ ПРИЧИН УЧИТЬСЯ У НАС
      button.advantages__banner-button ЗАПИСАТЬСЯ НА ЭКСКУРСИЮ
    .advantages__right
      .advantages__slider
        .advantages__slides
          .advantages__slide
            .advantages__icon.advantages__icon--1 1.
            .advantages__header Каждый ребенок — особенный
            .advantages__text Выявим способности вашего ребенка, научим пользоваться ими.
          .advantages__slide
            .advantages__icon.advantages__icon--2 2.
            .advantages__header Английский язык —основа
            .advantages__text Ваш ребенок будет отлично говорить по-английски.
          .advantages__slide
            .advantages__icon.advantages__icon--3 3.
            .advantages__header Сдача британских экзаменов
            .advantages__text Ребенок сдает экзамены и получает британский аттестат зрелости.
          .advantages__slide
            .advantages__icon.advantages__icon--4 4.
            .advantages__header Контроль за здоровьем медработником
            .advantages__text Ваш ребенок под постоянным медицинским контролем.
          .advantages__slide
            .advantages__icon.advantages__icon--5 5.
            .advantages__header Домашнее всегда сделано
            .advantages__text Дома вы можете уделить максимум внимания ребенку без крика за ДЗ.
          .advantages__slide
            .advantages__icon.advantages__icon--6 6.
            .advantages__header Сдача российких экзаменов
            .advantages__text Наши ученики получают высокие баллы по ГИА и ЕГЭ.
          .advantages__slide
            .advantages__icon.advantages__icon--7 7.
            .advantages__header Работа на результат
            .advantages__text Двойки только в крайнем случае, нам важно, чтобы ребенок освоил тему.
          .advantages__slide
            .advantages__icon.advantages__icon--8 8.
            .advantages__header Вдохновляющая атмосфера
            .advantages__text У нас дружно и тепло — ребенка окружают единомышленники.
          .advantages__slide
            .advantages__icon.advantages__icon--9 9.
            .advantages__header Корпоративная WEB-сеть
            .advantages__text Ребенок не сидит без толку часами в интернете, а решает поставленные задачи
        .advantages__arrows
          .advantages__prev
          .advantages__next
        .advantages__nav
          .advantages__dot
          .advantages__dot
          .advantages__dot
          .advantages__dot
          .advantages__dot
          .advantages__dot
          .advantages__dot
          .advantages__dot
          .advantages__dot

