.progress#progress
  .progress__title У нас учатся дети от 2 до 18 лет
  .progress__subtitle
    |Вы можете привести к нам ребенка в 2 года, и за 16 лет#[br]
    |он приобретет в процессе обучения всё необходимое, чтобы#[br]
    |стать успешным человеком
  .progress__slider
    .progress__slides
      .progress__slide
        .progress__image: img(src='https://picsum.photos/316/200/?random&1')
        .progress__content
          .progress__header ОТ 2 ДО 7 ЛЕТ
          .progress__text
            p Детский УниверСад с билингвальным обучением — русский как родной, английский на достаточном для поступления в любую лингвистическую школу уровне (300-500 слов).
      .progress__slide
        .progress__image: img(src='https://picsum.photos/316/200/?random&2')
        .progress__content
          .progress__header НУЛЕВОЙ КЛАСС
          .progress__text
            p Класс по подготовке и адаптации ребенка к обучению в Кембриджском лицее. Занятия проходят по субботам. Набор с 5,5 лет
      .progress__slide
        .progress__image: img(src='https://picsum.photos/316/200/?random&3')
        .progress__content
          .progress__header 1-4 КЛАССЫ
          .progress__text
            p Начальная школа с 5 лет — для британской программы и с 6-7 лет — для российской программы. Классы — до 16 человек. Британский клуб — British club с носителем.
    .progress__prev
    .progress__next
    .progress__nav
      .progress__dot
      .progress__dot
      .progress__dot

  .progress__note Есть взможность поступления в любой класс по возрасту после собеседования с ребенком.
