.about#about
  .triangle.about__triangle(data-paroller-factor="-0.1")
  .c
    .about__title О Лицее
    .about__wrapper
      .about__content
        p: b Кембриджский лицей — путь к успеху!
        p Кембриджский лицей имеет полное название —общеобразовательное частное учреждение "Лингвистическая школа Московского института иностранных языков" под патронатом экзаменационного центра Кембриджского университета в РФ.
        .about__subtext РАЗВЕРНУТЬ ТЕКСТ
        .about__sub: .about__subinner
          p С 1999 года мы даем возможность детям в России получить качественное международное образование.
          p В нашей школе ваш ребенок отлично подготовится к поступлению в зарубежные и отечественные вузы, будет владеть в совершенстве английским языком, станет самодостаточным человеком, свободной и успешной личностью.
      .about__slider
        .about__prev
        .about__next
        .about__slides
          .about__slide.about__slide--active
            .about__number 200
            .about__text
              | ЛЕТ ВЫСТРАИВАЕМ#[br]
              | РАБОТАЮЩУЮ#[br]
              | МОДЕЛЬ ОБУЧЕНИЯ
          .about__slide
            .about__number 201
            .about__text
              | ЛЕТ ВЫСТРАИВАЕМ#[br]
              | РАБОТАЮЩУЮ#[br]
              | МОДЕЛЬ ОБУЧЕНИЯ
          .about__slide
            .about__number 202
            .about__text
              | ЛЕТ ВЫСТРАИВАЕМ#[br]
              | РАБОТАЮЩУЮ#[br]
              | МОДЕЛЬ ОБУЧЕНИЯ
