.features
  .c
    .features__title Особенности британской программы
    .features__subheader Если вы пока еще не определились, где именно будет учиться ваш ребенок: за рубежом или в России, — то смешанная программа позволит в итоге успешно поступить в любой англоязычный вуз мира или России.
    .features__slider
      .features__items
        .features__item
          img.features__image(src='https://picsum.photos/160/115/?random&1')
          .features__header ОБУЧЕНИЕ НА АНГЛИЙСКОМ ЯЗЫКЕ
          .features__text
            p Общая образовательная программа преподается на английском языке. Ребенок усваивает терминологию предмета, может отвечать на английском, участвует в конференциях и пр.
        .features__item
          img.features__image(src='https://picsum.photos/160/115/?random&2')
          .features__header ОБУЧЕНИЕ НА АНГЛИЙСКОМ ЯЗЫКЕ
          .features__text
            p В школе учатся дети из англоязычных стран, часто приходят носители языка, дети между собой стараются также говорить на английском. Это повышает уровень разговорного языка.
        .features__item
          img.features__image(src='https://picsum.photos/160/115/?random&3')
          .features__header АНГЛИЙСКИЕ УЧЕБНИКИ
          .features__text
            p Ваш ребенок будет заниматься по английским учебникам, чтобы воспринимать письменную речь. Все учебники соответствуют кембриджской системе GCSE — GCE A-Level.
        .features__item
          img.features__image(src='https://picsum.photos/160/115/?random&4')
          .features__header ДОПОЛНИТЕЛЬНЫЕ УРОКИ НА РУССКОМ
          .features__text
            p После уроков в дополнительное время проводятся дублирующие занятия на русском языке по тем же предметам. Ребенок получает качественное билингвальное образование.
        .features__item
          img.features__image(src='https://picsum.photos/160/115/?random&5')
          .features__header КРЕАТИВНОЕ МЫШЛЕНИЕ
          .features__text
            p Ребенок развивается всесторонне, так как предоставляем ему возможность попробовать себя во всех сферах: музыке, искусстве, танцах, спорте, театре, гончарном мастерстве и пр.
        .features__item
          img.features__image(src='https://picsum.photos/160/115/?random&6')
          .features__header МЕЖДУНАРОДНЫЕ СЕРТИФИКАТЫ
          .features__text
            p Ребенок сдает международные экзамены, результаты которых признаются по всему миру. Также он сдает экзамены ГИА и ЕГЭ, которые позволят поступить в любой вуз России.

    .features__nav
      .features__dot
      .features__dot
      .features__dot
      .features__dot
      .features__dot
      .features__dot
