/*!!
 * Theme Name: cambridge
 */

//@import "owl.carousel/dist/assets/owl.carousel.css";
@import "destyle.css/destyle.css"
@import "magnific-popup/dist/magnific-popup.css";
@import "tiny-slider/dist/tiny-slider.css";
//@import "baron/baron.css";
//@import "bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css";
//@import "suggestions-jquery/dist/css/suggestions.css";
//@import "selectize/dist/css/selectize.css";

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";
@import "stylus/_grid.styl";

html
  font-family: 'Circe', sans-serif;
  color: #2e2e2e

body
  overflow-x: hidden


.triangle
  opacity: 0
  position: absolute
  width: 0;
  height: 0;
  border-style: solid;
  transition: opacity .1s ease-in
  @media (max-width: $breakpoint-sm)
    display: none

  &--active
    opacity: 1

.hidden
  display: none

.screen-reader-response
  display: none

.wpcf7-form-control-wrap
  position: relative
  display: block

.wpcf7-not-valid-tip
  position: absolute
  font-size: 11px
  color: red
  top: 100%
  margin-top: 4px

.wpcf7-response-output
  font-size: 12px
  margin-top: 8px
  text-align: center
  color: red

  &.wpcf7-mail-sent-ok
    color: $green

@import "modules/menu/menu.styl"
@import "modules/head/head.styl"
@import "modules/excursion/excursion.styl"
@import "modules/excursionForm/excursionForm.styl"
@import "modules/about/about.styl"
@import "modules/sliders/sliders.styl"
@import "modules/progress/progress.styl"
@import "modules/programs/programs.styl"
@import "modules/features/features.styl"
@import "modules/steps/steps.styl"
@import "modules/info/info.styl"
@import "modules/bullets/bullets.styl"
@import "modules/collapse/collapse.styl"
@import "modules/stats/stats.styl"
@import "modules/video/video.styl"
@import "modules/afterschool/afterschool.styl"
@import "modules/advantages/advantages.styl"
@import "modules/prices/prices.styl"
@import "modules/testimonials/testimonials.styl"
@import "modules/form/form.styl"
@import "modules/contacts/contacts.styl"
@import "modules/modal/modal.styl"

@import "modules/photoswipe/photoswipe.styl"
@import "modules/photoswipe/default-skin.styl"
