.contacts#contacts
  .triangle.contacts__triangle2(data-paroller-factor="-0.1")
  .c.contacts__cols
    .contacts__col
      .contacts__title Приезжайте к нам
      .contacts__text
        p: b АДРЕС:
        p  г. Москва, м. "Красносельская",#[br] Верх. Красносельская ул., д. 14а
        img(src='modules/contacts/photo.jpg')
    .contacts__col2
      .contacts__col
        .contacts__title Свяжитесь с нами
        .contacts__text
          p По общим вопросам:
          .contacts__phones
            | #[a(href='tel:74992641111') 8 (499) 264-11-11]#[br]
            | #[a(href='tel:74992641111') 8 (495) 960-87-05]
          p По поступлению в школу:
          .contacts__phones #[a(href='tel:74992641111') 8 (499) 264-03-63]
          p По вопросам записи в школу:
          .contacts__phones #[a(href='tel:74992641111') 8 (495) 149-78-56]
          p: b E-MAIL:
          p: a(href='mailto:school@gaudeamus.ru') school@gaudeamus.ru
      .contacts__col2
        .contacts__map: #map

  .c.contacts__cols.contacts__cols--sub
    .contacts__col
      .contacts__copyright © Cultus.RU. Использование материалов#[br]только с разрешения правообладателя
    .contacts__col2
      .contacts__col
        .contacts__socials
          p: b Присоединяйтесь#[br]в социальных сетях
          a.contacts__social.contacts__social--fb(href='#' target='_blank')
          a.contacts__social.contacts__social--vk(href='#' target='_blank')
      .contacts__col2
        a.contacts__primary(href='#' target='_blank')
          b ОСНОВНОЙ САЙТ:
          | http://cultus.ru
  .triangle.contacts__triangle(data-paroller-factor="-0.1")
