.video
  .triangle.video__triangle(data-paroller-factor="-0.1")
  .c
    .video__container
      a.video__video(href='https://www.youtube.com/watch?v=T7wofidfrpc')
        img(src='https://img.youtube.com/vi/T7wofidfrpc/maxresdefault.jpg')
      .video__cta ПОСМОТРИТЕ ВИДЕО
    .video__text
      .video__title В лицее ребенка#[br]ждет воодушевляющая#[br]атмосфера