.video
  .w
    .video__container
      .video__video(data-url='https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&rel=0&fs=1')
        img(src='https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg')
      .video__cta ПОСМОТРИТЕ ВИДЕО
      .video__title В лицее ребенка#[br]ждет воодушевляющая#[br]атмосфера