.modal#modal
  .modal__form-wrapper
    .modal__form
      input.modal__input(placeholder='Как к вам обращаться:')
      input.modal__input(placeholder='Ваш телефон или e-mail:')
      input.modal__submit(type='submit' value='ЗАПИСАТЬСЯ НА ЭКСКУРСИЮ')
      a.modal__link(href='#' target='_blank') политика конфиденциальности
  